{% extends 'base.html' %}

{% block content %}

<main class="login-page">
    <div class="contact reset">
        <div class="titulos">
                <h6>Recupero de contraseña</h6>
        </div>
        {% if validlink %}
        <form method="POST" enctype="multipart/form-data" id="reg-form" novalidate>
            {% csrf_token %}
            <div class="input-group input-group-icon">
                <input type="password"  name="new_password1" value="{{ form.new_password1.value|default:"" }}" required placeholder="Nueva contraseña" id="id_new_password1"/>
                <div class="input-icon">
                    <i class="fas fa-lock"></i>
                </div>
                    {% if form.new_password1.errors %}
                        <span class="obligatorio" >{{ form.new_password1.errors }}</span>
                    {% endif %}
            </div>

            <div class="input-group input-group-icon">
                <input type="password"  name="new_password2" value="{{ form.new_password2.value|default:"" }}" placeholder="Repite la contraseña" required id="id_new_password2"/>
                <div class="input-icon">
                    <i class="fas fa-lock"></i>
                </div>
                    {% if form.new_password2.errors %}
                        <span class="obligatorio" >{{ form.new_password2.errors }}</span>
                    {% endif %}
            </div>
            <ul>
                <li>Su contraseña no puede ser similar a otros componentes de su información personal.</li>
                <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
                <li>Su contraseña no puede estar formada exclusivamente por números.</li>
            </ul>
            <div class="input-group">
                <input type="submit" value="Enviar" />
                <input type="reset" value="Limpiar campos" />
            </div> 
        </form>

        {% else %}
        <p>El link para recuperar la contraseña es inválido, posiblemente porque ya ha sido utilizado.<br>Por favor, solicite un nuevo link.</p>
        {% endif %}
    </div>
</main>

{% endblock content %}