{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% comment %} {% load product_extras %} {% endcomment %}

{% block content %}
 
<div class="destacados">

    {% comment %} {% for product, image in products_list|zip:product_images_list %} no hace falta el nested{% endcomment %}
    {% for product in product_list %}
    <div class="collections coll-watches">
        <a href="{% url 'main:product' product.slug %}">
        {% if product.get_image_url%}
            <img class="foto" src="{{ product.get_image_url }}">   
        {% else %}
            <img class="foto" src="{% static 'images/image-not-found.png' %}"> 
        {% endif %}
        </a>
        <p class="prod-description">{{ product.name }}</p>
        <p class="prod-description prices"><strong>$ {{ product.price|intcomma }}</strong></p>
        <a class="boton-tr boton-tr-watches" href="#">Agregar al carrito</a>
    </div>
    {% endfor %}

    {% for product in product_by_brand_list %}
    <div class="collections coll-watches">
        <a href="{% url 'main:product' product.slug %}">
        {% if product.get_image_url%}
            <img class="foto" src="{{ product.get_image_url }}">           
        {% else %}
            <img class="foto" src="{% static 'images/image-not-found.png' %}">
        {% endif %}
        </a>
        <p class="prod-description">{{ product.name }}</p>
        <p class="prod-description prices"><strong>$ {{ product.price|intcomma }}</strong></p>
        <a class="boton-tr boton-tr-watches" href="#">Agregar al carrito</a>
    </div>
    {% endfor %}
</div>

<nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{page_obj.previous_page_number}}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Anterior</a>
        </li>
      {% endif %}
      {% for pagenum in page_obj.paginator.page_range %}
        <li
          class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
          <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock content %}