{% extends 'base.html' %}

{% block content %}

<main class="login-page">
    <div class="contact login">
        <div class="titulos">
            <p>Recuperar contraseña</p>
        </div>

        <form method="post" id="login" novalidate>
            {% csrf_token %}
            <div id="email" class="input-group input-group-icon">
                <input id="mail" type="email" name="email" placeholder="Correo electrónico" value="{{ form.email.value|default:"" }}"/>
                <div class="input-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <i id="mandatory" class="obligatorio"></i>
                {% if form.email.errors %}
                    <span class="obligatorio" >{{form.email.errors}}</span>
                {% endif %}
            </div>

            <div class="input-group">
                <input type="submit" value="Enviar" />
            </div>
            <label><b>Ingrese su correo electrónico y enviaremos las instrucciones para recuperar su contraseña</b></label>
        </form>
    </div>
</main>

{% endblock content %}