{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="faq-container">
    <div class="faq-msg">
        <h3>A continuación, encontrará algunas preguntas frecuentes y sus respuestas correspondientes.<br>Si no encuentras respuesta a lo que buscas puedes llamarnos al <span style="white-space: nowrap"><strong>0800-2525-2567</strong></span></h3>
    </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    Mi pedido aún no ha llegado
                </button>
            </div>
            <div class="collapse" id="collapse1">
                <div class="answer">
                    La mayor parte de los pedidos llegan a tiempo, pero pueden producirse retrasos ocacionales en los envíos por correo. Habitualmente, los enviós nacionales aparecen en pocos días. En vaso de que su envío no llegue en un plazo de 10 días laborables, póngase en contanto con help@marca.com. Nos encargaremos de rastrear el envío y recibirá un producto de reemplazo o un reembolso.
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    ¿Qué puedo hacer si mi reloj se detiene?
                </button>
            </div>
            <div class="collapse" id="collapse2">
                <div class="answer">
                    Si el articulo está dañado, devuélvanoslo lo antes posible. La dirección es la siguiente:<br>Lima 1111<br>CP 1043<br>Ciudad Autónoma de Buenos Aires<br>Argentina<br>Le recomendamos que utilice una opción de envío con la cual el envío esté asegurado y se pueda rastrear. Háganos llegar el recibo de los costos de envío. Si el articulo está defectuoso, recibirá un reembolso.<br>Nuestro departamento de devoluciones es eficiente e intenta solucionar todos los problemas lo más rápidamente posible.
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    ¿Cuándo recibiré mi reembolso?
                </button>
            </div>
            <div class="collapse" id="collapse3">
                <div class="answer">
                    Un 99% de los reembolsos se procesan el mismo día de la recepción. El departamento de reembolsos procesará todos los reembolsos lo antes posible. Si no recibe su reembolso después de 7 días, pónganse en contacto con nosotros a través de help@marca.com
                </div>
            </div>
        </div>

       <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    ¿Las pilas están incluidas?
                </button>
            </div>
            <div class="collapse" id="collapse4">
                <div class="answer">
                    Sí, todos los relojes incorporan pilas nuevas.
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    ¿Los relojes tienen garantía?
                </button>
            </div>
            <div class="collapse" id="collapse5">
                <div class="answer">
                    Sí, todos nuestros relojes incluyen la garantía de fabricación internacional, que incorpora nuestro sello oficial.
                </div>
            </div>
        </div>
       
        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    ¿Pueden realizar entregas fuera de Buenos Aires?
                </button>
            </div>
            <div class="collapse" id="collapse6">
                <div class="answer">
                    Sí. Para ello, deberá completar el proceso normal de pago y seleccionar la provincia deseada.
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    ¿Pueden realizar entregas internacionales?
                </button>
            </div>
            <div class="collapse" id="collapse7">
                <div class="answer">
                    Sí. Para ello, deberá completar el proceso normal de pago y seleccionar el país deseado.
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div>
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    ¿Cuál es el coste del envío?
                </button>
            </div>
            <div class="collapse" id="collapse8">
                <div class="answer">
                    La entrega es gratuita para todos los pedidos.
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock content %}